@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-Ultralight-WebM.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-UltralightItalic-WebM.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-Thin-WebM.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-ThinItalic-WebM.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-Light-WebM.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-LightItalic-WebM.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-Regular-WebM.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-RegularItalic-WebM.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-Book-WebM.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-BookItalic-WebM.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-Medium-WebM.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-MediumItalic-WebM.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-SemiBold-WebM.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-SemiBoldItalic-WebM.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-Bold-WebM.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-BoldItalic-WebM.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-Black-WebM.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/font/SuisseIntl-BlackItalic-WebM.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
